.conan{
    background-color: blueviolet;
    margin: 10px 3px 30px 5px;
}
.conan2{
    background-color: pink;
}
.conan2{
    background-color: green;
}
a.loklink{
    padding: 0px 20px;
    margin-left:10px;
    border-radius: 10px;
    color:cornflowerblue;
}
a.loklink:hover{
    background-color: rgb(186, 6, 240);
    color:white;
}
div.lokdivgrey{
    background-color: #5b077f;
    padding:30px;
    border-radius: 20px;
    border: 1px solid #07fd24;
    width: 80%;
    margin: 20px auto;

}
h4.loksmallh4{
    font-size: 18px;
    color:rgb(0, 134, 11);
}
section#about.resume-section{
    color:#12e92c;
}
.lokbg2{
    background-image: url("../assets/img/bg2.png");
    background-size: cover ;
    background-repeat: no-repeat;

}
h5.loksmallh5{
    font-size: 15px;
    color:rgb(1, 255, 56);
}
.lok-white{
    color: rgb(216, 208, 208); 
}
.lok-green{
    color: rgb(21, 241, 69);
}
.lok-black{
    color: rgb(0, 0, 0);
}
.blackbg{
    background-color: #525151;
}
.lokserif{
     font-family: "Noto Serif TC", serif;
}
.lokbg1{
    background-image: url("../assets/img/bg1.jpg");
    background-size: cover ;
    background-repeat: no-repeat;

}
.lokcrop{
    height:500px;
    overflow: hidden;
    object-fit: cover;
    margin: 10px 5px;
    border-radius: 10px;
}
.lokbg3{
    background-image: url("../assets/img/bgs.jpg");
    background-size: cover ;
    background-repeat: no-repeat;

}
.lok-pe{
    color: rgb(234, 3, 255);
}
button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.lokcenter{
    text-align: center;
}
 .styled {
    border: 0;
    line-height: 3.5;
    padding: 0 25px;
    font-size: 1.3rem;
    text-align: center;
    color: #e626ff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(34, 248, 6);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
.lokpebg{
    background-color: #000000;
}
.lok-vi{
    color: rgb(228, 3, 248);
}
.lok-dgreen{
    color: rgb(1, 49, 12);
}
.lokcenter {
    text-align: center;
}
