.conan{
    background-color: blueviolet;
}
.conan2{
    background-color: pink;
}
.conan2{
    background-color: green;
}
a.loklink{
    padding: 0px 30px;
    margin-left:10px;
    border-radius: 50px;
    color:cornflowerblue;
}
a.loklink:hover{
    background-color: rgb(186, 6, 240);
    color:white;
}
div.lokdivgrey{
    background-color: rgb(91, 7, 127 );
    padding:30px;
    border-radius: 10px;
    border: 1px solid rgb(7, 253, 36);
    width: 80%;
    margin: 10px auto;

}
h4.loksmallh4{
    font-size: 18px;
    color:rgb(47, 231, 173);
}
section#about.resume-section{
    color:#12e92c;
}
.lokbg{
    background-image: url("../assets/img/bg2.png");
    background-size: cover ;
    background-repeat: no-repeat;

}
h5.loksmallh5{
    font-size: 15px;
    color:rgb(45, 233, 146);
}
.lok-white{
    color: rgb(216, 208, 208); 
}
.lok-green{
    color: rgb(3, 58, 35);
}
.lok-black{
    color: rgb(0, 0, 0);
}
.blackbg{
    background-color: #525050;
}
.lokserif{
     font-family: "Noto Serif TC", serif;
}